/*
 *
 *
*/
.container{padding-top: 3em;}

.controls{margin-bottom: 1em;}

aside.menu > a.btn{text-align: left; padding: .6em 1.2em; border-radius: 0; margin: .3em 0;}
aside.menu > a.btn-default{border: none; transition: .2s;}

.btn{border: .1em solid; border-radius: 0; transition: .2s;}

.itens-table > div{padding: 1em 0; border-bottom: .1em solid; transition: .1s;}

.bold{font-weight: bold;}

.form-control{border-radius: 0;}

.area-search{margin-bottom: 2em;}
.btn-search{position: absolute; top: .5em; right: 1.3em; line-height: 0; padding: .3em .3em; border: none;}
.btn-input-tel{position: absolute; top: 2.3em; right: 1.3em; line-height: 0; padding: .3em .3em; border: none;}
