/*
 *
 *
 */
.dark{background-color: #282C34; color: #dfdfdf;}

.btn-default{border-color: #ffeb3b; background-color: transparent; color: #ffeb3b;}
.btn-default:hover{background-color: #ffeb3b; color: black; border-color: #ffeb3b;}
.active-default{background-color: #ffeb3b !important; color: black !important; border-color: #ffeb3b !important;}

aside.menu > a.btn-default{background-color: transparent; color: #dfdfdf;}
aside.menu > a.btn-default:hover{background-color: #4e4e4e; color: white; border-color: #4e4e4e;}

.itens-table > div{border-color: #ffeb3b;}
.itens-table > div:hover{background-color: #4e4e4e;}

.text-primary{color: #00bcd4;}
.text-danger{color: #F44336;}

.form-control{background-color: #4e4e4e; color: white; border-color: #4e4e4e;}
.form-control:focus{background-color: #4e4e4e; color: white; border-color: #ffeb3b;}

.btn-search{background-color: transparent;}
.btn-search > i{color: #ffeb3b;}
