/*
 *
 *
 */
.theme{background-color: #e8eaf6; color: #1a237e;}

.btn:disabled{border-color: #EF9A9A; background-color: transparent; color: #EF9A9A;}
.btn:disabled:hover{border-color: #F44336; background-color: transparent; color: #F44336;}
.btn-default{border-color: #3f51b5; background-color: transparent; color: #3f51b5;}
.btn-default:focus{border-color: #3f51b5; background-color: transparent; color: #3f51b5;}
.btn-default:hover{background-color: #3f51b5; color: white; border-color: #3f51b5;}
.btn-default:hover:active{background-color: #00838f; color: white; border-color: #00838f;}
.active-default{background-color: #3f51b5 !important; color: white !important; border-color: #3f51b5 !important;}

aside.menu > a.btn-default{background-color: transparent; color: #1a237e;}
aside.menu > a.btn-default:hover{background-color: #c0c0c0; color: black; border-color: #c0c0c0;}

.itens-table > div{border-color: #3f51b5;}
.itens-table > div:hover{background-color: #dfdfdf;}

.text-primary{color: #ffeb3b;}
.text-danger{color: #F44336;}

.form-control{background-color: #e8eaf6; color: #1a237e; border-color: #1a237e;}
.form-control:focus{background-color: #e8eaf6; color: #1a237e; border-color: #1a237e;}

.btn-search, .btn-input-tel{background-color: transparent;}
.btn-search > i, .btn-input-tel > i{color: #3f51b5;}
